#box02{
        color: #117A65;
}
#box01{
    color: darkslateblue;
}
#box03{
    font-size: 20px;
    color: deeppink;
}
#box04{
    font-size: 20px;
    color: darkorange;
}
#box05{
        color: #117A65;
        font-family: sans-serif;
}